<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
     <link rel='stylesheet' href='css/style.css' type='text/css'>
 <title>Mon Application</title>
</head>
<body>
 <%- include('composants/formulaire') %>

 <table class="tableau">
 <% let noLigne = 0 %>
     <% for (elm of adresse) { %>

     <% if(noLigne == 0){ %>
         <tr>
             <% noLigne++
             for (p in elm ){ %>
             	<td><%= p %></td>
             <% } %>
         </tr>
     <% } %>

     <tr>
         <% for (p in elm ){ %>
         <td><%= elm[p] %></td>
         <% } %>
     </tr>
     <% } %>
 </table>
</body>
</html>